spring:
  application:
    name: eg
  h2:
    console:
      enabled: false

spring.mvc.pathmatch.matching-strategy: ant-path-matcher

## Default jpa config
spring.jpa:
    open-in-view: false
    show-sql: false
    properties:
      hibernate:
           hbm2ddl.auto: none
           jdbc.batch_size: 50
      jadira:
          usertype:
              useJdbc42Apis: true

## Server
server:
  servlet:
    context-path: /eg
    session:
      cookie:
        http-only: true
        secure: true
        same-site: lax

solid.login.token-base: false


#server.port: ${SERVER_PORT:8080}
server.port: 8081

## Mvc
spring.mvc.view:
    prefix: /static-res/
    suffix: .html


## Mvc i18n
spring.messages:
   basename: static/resources/messages/pjCommon, static/resources/messages/base_validation, static/resources/messages/base
   use-code-as-default-message: true #'label.xx' => display 'label.xx' if it's absent.


logging:
    config: classpath:logback-console.xml

spring.flyway.enabled: false

solid.login.record-login-event: true

spring.profiles.group:
  escort-dev:
    #- no-auth
    - development
    - dummy-auth
    - psql
    #- redis
  dev:
    - development
    - single-login
    - psql
    #- redis
  production:
    - single-login
    - db-production
    #- redis

plugins:
  log:
    enable: true
    targets:
      rest-controller: true
      controller: true
      log-operation: true
    log-output:
      - db
      - log
    exclude-url-patterns:
      - /user/info
      - /validate
      - /
  userauth:
    password-strategy:
      enable: true

---
spring.config.activate.on-profile: h2

spring.jpa:
    generate-ddl: true
    hibernate:
      ddl-auto: update

spring.datasource:
    url: jdbc:h2:mem:demo_master;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driverClassName: org.h2.Driver
    username: sa
    password:
    xa:
        dataSourceClassName: org.h2.jdbcx.JdbcDataSource
---
spring.config.activate.on-profile: psql

spring.jpa:
    database: POSTGRESQL
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate.temp.use_jdbc_metadata_defaults: false

spring.datasource:
    url: jdbc:postgresql://10.191.40.239:5432/egdb_2026
    driverClassName: org.postgresql.Driver
    username: postgres
    password: postgres
    xa:
        dataSourceClassName: org.postgresql.xa.PGXADataSource

---
spring.config.activate.on-profile: flyway

spring.flyway:
  enabled: true
  url: jdbc:postgresql://localhost:15432/postgres-flyway
  user: postgres
  password: foo
  driver-class-name: org.postgresql.Driver
  locations: classpath:db/
  sql-migration-suffixes: .sql

---
spring.config.activate.on-profile: redis

spring.data.redis:
  host: localhost
  port: 16379
  database: 0

spring.cache.type: redis

---
spring.config.activate.on-profile: dummy-auth

# for dummy-auth and no-auth
solid.pj.login.dummy:
  allow-origins: http://localhost:[*], http://escort.com:[*],http://10.191.41.112:8180
  username: dummy-user
  siteId: "0000"
